@import "elr-scss-functions/src/main";
@import "elr-scss-config/src/main";
@import "elr-scss-helpers/src/main";

@include elr-button-classes;
@include elr-buttons-action;

@mixin elr-dialog($config: ()) {
  background-color: rgba($white, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding-top: ($base-fontsize * 2);

  &[open="true"] {
    opacity: 1;
    visibility: visible;
  }

  .elr-button-close {
    color: $accent-color;
    font-size: ($base-fontsize * 2);
    font-weight: 900;
    position: absolute;
    right: ($base-fontsize * 1.5);
    top: $base-fontsize;
    border: 0;
    box-shadow: none;
    background: none;
    padding: ($base-fontsize * 0.25) ($base-fontsize * 0.5);
    line-height: 1;
    cursor: pointer;
  }
}

@mixin elr-modal($config: ()) {
  $config: extend(
    (
      background-color: $white,
      accent-color: $primary-color,
      border-radius: $border-radius,
      border-color: $light-gray,
      height: 500px,
      width: 700px,
    ),
    $config
  );

  $background-color: map-get($config, background-color);
  $accent-color: map-get($config, accent-color);
  $border-radius: map-get($config, border-radius);
  $border-color: map-get($config, border-color);
  $height: map-get($config, height);
  $width: map-get($config, width);
  $border: 1px solid $border-color;

  max-height: 90vh;
  height: $height;
  width: $width;
  z-index: 1000;
  background-color: $background-color;
  box-shadow: $shadow;
  padding: 0;
  max-width: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;

  @if ($border-color != "none") {
    .elr-footer {
      border-top: $border;
    }
  }

  .elr-header {
    background-color: $accent-color;
    border-radius: $border-radius $border-radius 0 0;
    overflow: hidden;
    border: 1px solid $accent-color;

    .elr-header-title {
      color: $white;
      font-weight: 900;
      font-size: ($base-fontsize * 2);
      padding: 0;
      margin: 0;
    }

    p {
      color: $white;
      font-size: $base-fontsize * 0.875;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .elr-header,
  .elr-body,
  .elr-footer {
    padding: $base-fontsize ($base-fontsize * 2);
  }

  .elr-body {
    overflow: hidden auto;
    padding: $base-fontsize ($base-fontsize * 2) $base-fontsize;
    line-height: 1.5;
    flex: 1;

    &::-webkit-scrollbar {
      display: none;
    }

    p {
      font-size: $base-fontsize;
      margin: ($base-fontsize * 0.5) 0;
    }
  }

  .elr-footer {
    display: flex;
    justify-content: flex-end;
    padding: $base-fontsize;
    border-radius: 0 0 $border-radius $border-radius;
    overflow: hidden;
  }

  .elr-header-title {
    font-size: ($base-fontsize * 1.5);
  }

  .elr-button {
    font-size: $base-fontsize * 0.875;
    min-width: 0;
    padding: ($base-fontsize * 0.5) $base-fontsize;
    margin-right: ($base-fontsize * 0.5);

    &:last-child {
      margin-right: 0;
    }
  }

  .elr-modal-video {
    text-align: center;

    iframe {
      display: inline-block;
    }
  }
}
