// Modals

@mixin elr-modals($config: ()) {
    $config: extend((
        modal-color: $background-color,
        button-color: $link-color,
        border-radius: 3px,
        border-color: $light-grey
    ), $config);

    $modal-color: map-get($config, modal-color);
    $button-color: map-get($config, button-color);
    $border-radius: map-get($config, border-radius);
    $border-color: map-get($config, border-color);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    max-height: 90vh;
    z-index: 1000;
    background-color: $modal-color;
    padding: 0;
    width: 60%;
    max-width: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    @if $border-radius {
        border-radius: $border-radius;
    }

    @if $border-color {
        border: 1px solid $border-color;

        .elr-header {
            border-bottom: 1px solid border-color;
        }

        .elr-footer {
            border-top: 1px solid border-color;
        }
    }

    @include elr-breakpoint($config: (point: 'neptune')) {
        width: 90%;
        max-width: none;
    }

    .elr-header,
    .elr-body,
    .elr-footer {
        padding: 10px 20px;
    }

    .elr-body {
        overflow: auto;
    }

    .elr-footer {
        display: flex;
        justify-content: space-between;
    }

    .elr-header-title { font-size: to-rems(20px); }

    p { font-size: to-rems(14px); }

    // form { @include elr-tabular-form; }

    button { font-size: to-rems(14px); }

    .elr-modal-video {
        @include elr-center-block($config: (width: 90%));
        text-align: center;

        iframe { display: inline-block; }
    }
}
